[submodule "workspace/src/aws-robomaker-hospital-world"]
	path = workspace/src/aws-robomaker-hospital-world
	url = https://github.com/albertoPerez25/aws-robomaker-hospital-world-with-human-activity
[submodule "workspace/src/pal_gazebo_worlds"]
	path = workspace/src/pal_gazebo_worlds
	url = https://github.com/albertoPerez25/pal-gazebo-worlds-fork
[submodule "workspace/src/pmb2_robot"]
	path = workspace/src/pmb2_robot
	url = https://github.com/albertoPerez25/pmb2_robot-fork
